body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    width: 300px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid gray;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #0074ff;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0054c9;
}

#output {
    margin-top: 15px;
    font-weight: bold;
}
