body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#3B5A6E, #2575fc);
}

.container {
    background: white;
    color:white;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    width: 300px;
    text-align: center;
    background: linear-gradient(#253063, #4C5170);
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
    border: 1px solid gray;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #1A2526;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
}

.eye {
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

button:hover {
    background: #94AFB0;
}

#output {
    margin-top: 15px;
    font-weight: thin;
    color:white;
}


